.animation-screen {
  @include retina {
    background-image: url("../img/scene@2x.png");
  }
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-image: url("../img/scene.png");
  background-position: center;
  background-size: 100% auto;
  background-repeat: no-repeat;

  @media (orientation: portrait) {
    @include retina {
      background-image: url("../img/scene-mob@2x.png");
    }
    background-image: url("../img/scene-mob.png");
  }
}
