.rules {
  position: relative;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  width: 100%;
  padding: 14.6rem 0 13rem;

  @media (min-width: $stop-scaling) {
    padding: 146px 0 65px;
  }

  @media (max-width: $tablet) and (orientation: portrait) {
    padding: 5.9rem 0 8rem;
  }

  @media (max-width: $tablet) and (orientation: landscape) {
    padding: 7rem 0 8rem;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    padding: 4rem 0 4rem;
  }
}

.rules__title {
  margin: 0 0 5rem;
  font-weight: 400;
  font-size: 4.8rem;
  font-family: $font-alt;
  line-height: 0.906;
  letter-spacing: -0.04em;
  text-transform: uppercase;

  @media (min-width: $stop-scaling) {
    margin-bottom: 50px;
    font-size: 48px;
  }

  @media (max-width: $tablet) and (orientation: portrait) {
    margin-bottom: 1.8rem;
    font-size: 3.6rem;
  }

  @media (max-width: $tablet) and (orientation: landscape) {
    margin-bottom: 2rem;
    font-size: 3rem;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    margin-bottom: 1rem;
    font-size: 2rem;
  }
}

.rules__lead {
  max-width: 96rem;
  margin-left: 5.8rem;
  font-size: 2.4rem;
  line-height: 1.2;
  text-transform: uppercase;

  @media (min-width: $stop-scaling) {
    max-width: 960px;
    margin-left: 58px;
    font-size: 24px;
  }

  @media (max-width: $tablet) and (orientation: portrait) {
    margin-left: 2.5rem;
    padding-right: 1rem;
    font-size: 1.6rem;
  }

  @media (max-width: $tablet) and (orientation: landscape) {
    margin-left: 2rem;
    font-size: 2rem;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    max-width: 100%;
    font-size: 1.4rem;
  }

  p {
    margin: 0;
  }
}

.rules__list {
  @include list-reset;
  max-width: 69.6rem;
  margin: auto;
  padding-top: 7rem;
  counter-reset: li;
  column-count: 2;
  column-gap: 9.6rem;

  @media (min-width: $stop-scaling) {
    max-width: 696px;
    padding-top: 70px;
    column-gap: 96px;
  }

  @media (max-width: $tablet) and (orientation: portrait) {
    padding: 0 2.5rem;
    column-count: auto;
    column-gap: 0;
  }

  @media (max-width: $tablet) and (orientation: landscape) {
    padding-top: 0;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    column-gap: 4rem;
  }
}

.rules__item {
  position: relative;
  margin: 0 0 6.2rem;
  padding-top: 0.6rem;
  padding-left: 6.5rem;
  break-inside: avoid;

  @media (min-width: $stop-scaling) {
    min-height: 5rem;
    margin: 0 0 62px;
    padding-top: 6px;
  }

  @media (max-width: $tablet) and (orientation: portrait) {
    margin-bottom: 1rem;
    padding-left: 5rem;
  }

  @media (max-width: $tablet) and (orientation: landscape) {
    margin-bottom: 2rem;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    padding-left: 5rem;
    font-size: 1.2rem;
  }

  &::before {
    content: counter(li);
    position: absolute;
    top: 0;
    left: 0;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    background-color: $c-purple;
    font-weight: 400;
    font-size: 2.4rem;
    font-family: $font-alt;
    line-height: 5rem;
    counter-increment: li;
    text-align: center;

    @media (max-width: $tablet) and (orientation: portrait) {
      top: 1rem;
      width: 2.5rem;
      height: 2.5rem;
      font-size: 1.4rem;
      line-height: 3rem;
    }

    @media (max-width: $mobile) and (orientation: landscape) {
      top: 0.6rem;
      width: 2.5rem;
      height: 2.5rem;
      font-size: 1.4rem;
      line-height: 3rem;
    }
  }

  p {
    margin: 0;

    @media (max-width: $tablet) and (orientation: portrait) {
      min-height: calc(1.4rem * 2.2);
    }
  }
}

.rules__link {
  position: absolute;
  right: 5.6rem;
  bottom: 6rem;

  @media (min-width: $stop-scaling) {
    right: 56px;
    bottom: 60px;
  }

  @media (max-width: $tablet) and (orientation: portrait) {
    right: 0;
    bottom: 4rem;
    left: 0;
  }

  @media (max-width: $tablet) and (orientation: landscape) {
    bottom: 5rem;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    right: 1.5rem;
    bottom: 2rem;
  }
}
