/*
 * Variables for animations
 */

/* region Window Loading */
$window-load-footer-transition-duration: .5s;

$window-load-header-logo-transition-duration: .3s;
$window-load-header-logo-transition-delay: $window-load-footer-transition-duration - .1s;

$window-load-header-menu-transition-duration: .4s;
$window-load-header-menu-transition-delay: $window-load-header-logo-transition-delay + $window-load-header-logo-transition-duration - .1s;
$window-load-header-menu-item-active-pseudo-after-transition-duration: $window-load-header-menu-transition-duration;
$window-load-header-menu-item-active-pseudo-after-transition-delay: $window-load-header-menu-transition-delay;

$window-load-social-toggler-pseudo-before-transform-transition-duration: $window-load-header-menu-transition-duration;
$window-load-social-toggler-pseudo-before-transform-transition-delay: $window-load-header-menu-transition-delay + .1s;
/* endregion Window Loading */

/* region Header */
$header-link-color-transition-duration: .2s;

$header-link-pseudo-after-animation-duration: $header-link-color-transition-duration;
$header-link-pseudo-after-bg-color-transition-duration: $header-link-pseudo-after-animation-duration;
$header-link-pseudo-after-transform-transition-duration: $header-link-pseudo-after-animation-duration;
/* endregion Header */

/* region Social */
$social-toggler-icon-color-transition-duration: .2s;
$social-toggler-pseudo-before-transform-transition-duration: $social-toggler-icon-color-transition-duration;

$social-link-opacity-transition-duration: .3s;
$social-link-transform-transition-duration: $social-link-opacity-transition-duration;
$social-link-color-transition-duration: .2s;
$social-link-bg-color-transition-duration: $social-link-color-transition-duration;
$social-link-border-color-transition-duration: $social-link-color-transition-duration;

$social-link-next-opacity-transition-delay: .1s;
$social-link-next-transform-transition-delay: $social-link-next-opacity-transition-delay;

$social-link-instagram-opacity-transition-delay: $social-link-next-opacity-transition-delay;
$social-link-instagram-transform-transition-delay: $social-link-next-transform-transition-delay;
$social-link-instagram-color-transition-delay: 0s;
$social-link-instagram-bg-color-transition-delay: $social-link-instagram-color-transition-delay;
$social-link-instagram-border-color-transition-delay: $social-link-instagram-color-transition-delay;

$social-link-vk-opacity-transition-delay: $social-link-next-opacity-transition-delay * 2;
$social-link-vk-transform-transition-delay: $social-link-next-transform-transition-delay * 2;
$social-link-vk-color-transition-delay: 0s;
$social-link-vk-bg-color-transition-delay: $social-link-vk-color-transition-delay;
$social-link-vk-border-color-transition-delay: $social-link-vk-color-transition-delay;
/* endregion Social */

/* region Intro */
$intro-message-animation-duration: .3s;
/* endregion Intro */

/* region Slider */
$history-slide-active-text-animation-duration: .3s;

$history-slide-next-text-animation-duration: $history-slide-active-text-animation-duration;
$history-slide-next-text-animation-delay: $history-slide-active-text-animation-duration;
/* endregion Slider */

/* region Form */
$form-answer-animation-duration: .5s;

$form-answer-input-animation-duration: $form-answer-animation-duration;
/* endregion Form */
