@font-face {
  font-weight: 600;
  font-style: normal;
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Semibold.woff2") format("woff2"), url("../fonts/ProximaNova-Semibold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: "Radical";
  src: url("../fonts/Radical.woff2") format("woff2"), url("../fonts/Radical.woff") format("woff");
  font-display: swap;
}
